*:not(input) {
  text-align: center;

}
main {
  width: 90%;
  margin: 0 auto 18px;
}
.gy-0 {
  background-color: #eeeeee;
  height: 61px;
}
.g-1 {
    background-color: #7ee5da;
    height: 75px;
}
.g-2 {
  background-color: #70ccc2;
  font-size: 13px;
}
.g-3 {
  background-color: #62b3aa;
  font-size: 13px;
}
#links {
  display: grid;
  grid-template-columns: 17fr 9fr 20fr;
  gap: 2px;
}
main div > *:not(Button) {
  display: block;
}
main > div {
  margin-bottom: 2px;
}
input {
  margin: 0 auto;
}
footer {
  margin-top: 1em;
  font-size: 13px;
}
.alt {
    margin-top:10px
}
.alt-1 {
    margin-top:5px
}
